%header
  %h1= t("admin.memberships.titles.renew")

%section#main
  = form_for [:admin, @member, @membership] do |membership|
    .select
      = membership.label :qualifying_motion_id, "Motion Reference"
      = membership.approved_motions_select :qualifying_motion_id
      = membership.error_msg :quailifying_motion_id
      = membership.error_msg :quailifying_motion
    .check_box
      = membership.label :is_admin
      = membership.check_box :is_admin
    .buttons
      = membership.submit t("admin.memberships.actions.renew_membership")
