%header
  %h1#end_membership= t("admin.memberships.titles.terminate")

%section#main
  = form_for [:admin, @member, @membership] do |membership|
    .field.select
      = membership.label :disqualifying_motion_id, "Vote Reference"
      = membership.approved_motions_select :disqualifying_motion_id
      = membership.error_msg :disqualifying_motion_id
      = membership.error_msg :disqualifying_motion
    .action.submit
      = membership.submit t("admin.memberships.actions.update_membership"), :class => "button large"
