%header
  %h1= t("admin.memberships.titles.terminate")

%section#main
  = form_for [:admin, @member, @membership] do |membership|
    %fieldset
      = membership.label :disqualifying_motion_id, "Motion Reference #"
      = membership.text_field :disqualifying_motion_id, :placeholder => "1234"
      = render :partial => "shared/error_on_field", :locals => {:resource => @membership, :field => "disqualifying_motion_id"}
      = render :partial => "shared/error_on_field", :locals => {:resource => @membership, :field => "disqualifying_motion"}
    .buttons
      = membership.submit t("admin.memberships.actions.update_membership")
