%header
  %h1= t("admin.members.titles.edit")

- if flash[:notice].present? || flash[:alert].present?
  %p.notice{:class => ('alert' if flash[:alert])}
    = flash[:notice] || flash[:alert]

%section#main
  = form_for [:admin, @member] do |form|
    = render form
    .buttons
      = form.submit t("admin.members.actions.update_member")