%header
  %h1= t("admin.members.titles.edit")

%section#main
  = form_for [:admin, @member] do |form|
    %fieldset
      = form.label  :name
      = form.text_field :name, :placeholder => "John Resig"
      = render :partial => "shared/error_on_field", :locals => {:resource => @member, :field => :name}
    %fieldset
      = form.label :email
      = form.text_field :email, :placeholder => "jresig@example.com"
      = render :partial => "shared/error_on_field", :locals => {:resource => @member, :field => :email}
    -if admin?
      =link_to t("admin.members.actions.delete_member"), [:admin, @member], :method => 'delete', :confirm => 'Are you sure you want to delete the user?'
      =link_to t("admin.members.actions.edit_memberships_for_member"), admin_member_memberships_path(@member)
    .buttons
      = form.submit t("admin.members.actions.update_member")
