%div{ :class => "motions #{group.name}" }
  - group.collections.each do |name, motions|
    %section
      %h2=t("motions.#{name}.heading")
      - if motions.empty?
        .empty=t("motions.#{name}.empty")
      - else
        %ul{ :class => "motions" }
          = render :partial => motions
        - if motions.size < motions.count
          .show_more
            = link_to 'More', show_more_motions_path(:id => motions.last.id), :class => 'button more'
