%li{ html_attrs_for_motion(motion) }
  .actions
    .created_at= motion.created_at.strftime("%B #{motion.created_at.day.ordinalize}, %Y")
    - if motion.waitingsecond? && motion.expedited?
      %span.expedited Expedited
    - if motion.passed?
      %span.passed Passed
  .summary
    %p.title= link_to motion.title, motion_events_url(motion)
    %p.author
      by
      %strong #{motion_creator_display_name(motion)}
    %p.description= truncate(motion.description, :length => 200)
  .tags
    - motion.tags.each do |tag|
      %span= tag.name
