= content_tag_for(:li, motion, :class => html_classes_for_motion_list_item(motion, last)) do
  .actions
    .created_at= motion.created_at.strftime("%B #{motion.created_at.day.ordinalize}, %Y")
    = motion_status_badge(motion)
  .summary
    %p.title= link_to motion.title, motion_events_url(motion)
    %p.author
      by
      %strong #{motion_creator_display_name(motion)}
    %p.description= truncate(motion.description, :length => 200)
