#motion
  %h1= motion.title
  %p.meta
    %span.created_at== Created on #{motion.created_at.to_date}
    %span.author== by #{motion.member.name}
    %span.current_state== and currently #{motion.formatted_state}
  %p.description= motion.description
  %p.rationale= motion.rationale
  / @TODO: the events version of this page needs to put the events between
  / the rationale and history
  - if member? && motion.events.present?
    %p.history
      %h3 History:
      = render @motion.events
