.motion
  %h1
    =link_to short_motion.title, motion_events_path(short_motion)
  %p.meta
    %span.created_at== Created on #{short_motion.created_at.to_date}
    %span.author== by #{short_motion.member.name}
    %span.current_state== and currently #{short_motion.formatted_state.downcase}.
  %p.description
    %span Description:
    = short_motion.description
  %p.rationale
    %span Rationale:
    = short_motion.rationale
