%h1.for_form New motion

#new_motion_form
  = form_for @motion do |f|
    .field.text
      = f.label :title
      = f.text_field :title
    .check_box
      = f.label :expedited, "Mark as expedited"
      = f.check_box :expedited
    .field.text_area
      = f.label :description
      = f.text_area :description, :rows => 6
    .field.text_area
      = f.label :rationale
      = f.text_area :rationale, :rows => 4
    .check_boxes
      .title
        = f.label :tags
      .options
        - @tags.each do |tag|
          = check_box_tag "motion[tag_ids][]", tag.id, @motion.tags.include?(tag), :id => dom_id(tag)
          %label{ :for => dom_id(tag), :class => dom_class(tag) }= tag.name
    .action.submit
      = f.submit "Create Motion", :class => 'button large'
