=div_for(@motion) do
  #motion-details
    %h2
      = @motion.title
      %span.author
        by
        %strong= @motion.member.name
    .description
      %p= @motion.description
    %h3 Rationale
    - if @motion.rationale.blank?
      %p.empty No rationale has been given for this motion.
    - else
      %p= @motion.rationale
    %h3 Tags
    - if @motion.tags.empty?
      %p.empty This motion hasn't been tagged.
    - else
      .tags
        - @motion.tags.each do |tag|
          = tag_badge(tag)
    %h3 Events
    %ul#motion-events
      = render :partial => active_member? ? @motion.events : @motion.votes
    #motion-actions
      - if member?
        = form_for([@motion, @motion.events.new]) do |f|
          .field.text
            = f.label :comment
            = f.text_area :comment, :rows => 5
          .actions
            %button.button{ :name => 'event[event_type]', :value => 'comment' }
              Comment
            - if current_member.can?(:object, @motion)
              %button.button.negative{ :name => 'event[event_type]', :value => 'objection' }
                Object This Motion
            - if current_member.can?(:second, @motion)
              %button.button.positive{ :name => 'event[event_type]', :value => 'second' }
                Second This Motion
            - if current_member.can?(:vote, @motion)
              = hidden_field_tag 'event[event_type]', 'vote'
              %button.button.positive{ :name => 'event[value]', :value => true }
                Vote Aye On This Motion
              %button.button.negative{ :name => 'event[value]', :value => false }
                Vote Nay On This Motion
  #motion-status
    %dl
      %dt State
      %dd
        Currently
        %span.current_state= t("motions.#{@motion.state_name}.description")
      %dt Expedited
      %dd= @motion.expedited? ? 'Yes' : 'No'
      %dt Votes
      %dd
        %span.ayes #{@motion.ayes} ayes
        \/
        %span.nays #{@motion.nays} nays
