=div_for(@motion) do
  #motion-details
    %h2
      = @motion.title
      %span.author
        by
        %strong= @motion.member.name_or_email
    .description
      %p= @motion.description
    %h3 Rationale
    - if @motion.rationale.blank?
      %p.empty No rationale has been given for this motion.
    - else
      %p= @motion.rationale
    %h3 Tags
    - if @motion.tags.empty?
      %p.empty This motion hasn't been tagged.
    - else
      .tags
        - @motion.tags.each do |tag|
          = tag_badge(tag)
    %h3 Events
    %ul#motion-events
      = render :partial => @motion.events
  #motion-actions
    %dl
      %dt State
      %dd
        Currently
        %span.current_state= t("motions.#{@motion.state_name}.description")
      %dt Expedited
      %dd= @motion.expedited? ? 'Yes' : 'No'
    - if member? && current_member.can?(:second, @motion)
      =positive_button_to "Second This Motion", motion_second_path(@motion)
    - if member? && current_member.can?(:vote, @motion)
      =positive_button_to "Vote Aye On This Motion", motion_vote_path(@motion, :vote => :aye)
      =negative_button_to "Vote Nay On This Motion", motion_vote_path(@motion, :vote => :nay)
    - if member? && current_member.can?(:object, @motion)
      =negative_button_to "Object This Motion", motion_object_path(@motion)
