=div_for(@motion) do
  #motion-details
    %h2
      = @motion.title
      %span.author by #{@motion.member.name_or_email}
    .description
      %p= @motion.description
    %h3 Rationale
    %p= @motion.rationale
    %h3 Events
    %ul#motion-events
      - @motion.events.each do |event|
        %li= render event
    #tags
      = render 'taggings/index', :tags => @tags, :remote_flash => nil
  #motion-actions
    %dl
      %dt State
      %dd
        Currently
        %span.current_state= state_description_for_motion(@motion)
      %dt Expedited
      %dd= @motion.expedited? ? 'Yes' : 'No'
    - if member? && current_member.can?(:second, @motion)
      =positive_button_to "Second This Motion", motion_second_path(@motion)
    - if member? && current_member.can?(:vote, @motion)
      =positive_button_to "Aye", motion_vote_path(@motion, :vote => :aye)
      =negative_button_to "Nay", motion_vote_path(@motion, :vote => :nay)
    - if member? && current_member.can?(:object, @motion)
      =negative_button_to "Object This Motion", motion_object_path(@motion)
