%h2 Sign in
#user_signin_form
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .form_row
      = f.label :email
      = f.text_field :email
    .form_row
      = f.label :password
      = f.password_field :password
    - if devise_mapping.rememberable?
      .form_row
        = f.check_box :remember_me
        = f.label :remember_me
    .form_row.centered.submit
      = f.submit "Sign in", :class => 'button small_button'
    .form_row.centered
      = render :partial => "devise/shared/links"
